# --- CMake ---
**/build/
**/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# --- VS Code ---
.vscode/

# --- Visual Studio ---
.vs/
*.suo
*.user
*.VC.db

# --- Build Output ---
x64/
Debug/
Release/

# --- C++ Build Files ---
*.exe
*.dll
*.pdb
*.ilk
*.exp
*.lib
*.obj
*.pch
*.tlog
*.lastbuildstate
*.idb